*{
    margin: 100;
    padding: 100;
}

body{
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

a{
    background-color: #b9b9b981;
    text-decoration: none;
}

h1{
    text-align: center;
    background-color: #22d4fd;
    text-decoration-color: rgb(46, 112, 170);
}

strong{
    color: #22d4fd;
   
}

.apresentacao_links{
    display: flex;
    justify-content: space-evenly;
}

.apresentacao_links_link{
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

p{
    text-align: center;
}